fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
python-jose[cryptography]==3.3.0  # JWT
passlib[bcrypt]==1.7.4  # Hash password
python-multipart==0.0.6  # Form data
pydantic==2.5.0
pydantic-settings==2.1.0
aiokafka==0.8.1  # Kafka async
httpx==0.25.1